/* styles.css */
.streamlit-expanderHeader {
    color: #4a4a4a;
}

.css-1d391kg {
    background-color: #f5f5dc; /* Beige background */
}

.css-18e3c4p {
    color: #333; /* Dark text for contrast */
}

.css-1f2hxrf {
    color: #333;
}
